<!DOCTYPE html>
<html >
   <head>
      <meta charset="utf-8"/>
      <title>Sign In</title>
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   </head>
   <body>
      <div id="login">
      <%if(message.length>0){%>
         <div class="alert alert-danger"><%=message%></div>
      <%}%>
         <h1><strong>Sign in Here!</strong></h1>
         <form action="/login" method="post">
            <fieldset>
               <p><input type="text" name="email" required value="Email" onBlur="if(this.value=='')this.value='Email'" onFocus="if(this.value=='Email')this.value='' "></p>
               <p><input type="password" name="password" required value="Password" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "></p>
               <p><input type="submit" value="Login"></p>
            </fieldset>
         </form>
         <p><span class="btn-round">or</span></p>
         <p>
            <a href="signUp.html" >
            <button onclick="signUp.html" class="SignUp">SignUp</button>
            </a>
         </p>
         <p>
      </div>
      <!-- end login -->
   </body>
</html>